@use "sass:math";

$steps: 7;

@for $i from $steps - 1 through 1 {
  .heading-#{$i} {
    font-size: #{($steps - $i) * 0.75}rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
